<h1 class="title text-center">Privacy Policy</h1>

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
  <div class="buy-book box form-group col-xs-12">
    <h3>Why do I have to log in with Facebook?</h3>
    <p>
      CalPoly Textbooks is concerned with making your experience buying and selling
      textbooks with other students, quick, easy, and useful.
    </p>
    <p>
      In order to facilitate communication with other students, you're required
      to use your Facebook account to connect to other students.
    </p>
    <p>
      Your personal data <b>is not used</b> for any purpose other than connecting buyers
      to you through Facebook.
    </p>

    <h3>What information does CalPolyTextbooks use?</h3>
    <p>
      CalPoly Textbooks uses your Facebook display name and profile picture.
    </p>

    <h3>Why do I need to give you Facebook publishing permissions??</h3>
    <p>
      In order to put your books on <a href="https://www.facebook.com/groups/261266090571763/" target="_blank">CP Textbook Exchange</a>,
      we need permission to post on your behalf. All posts will be presented to you
      the way they'll be displayed on Facebook before we create them, and you always have the option to
      opt-out of publication on Facebook.
    </p>
  </div>
</div>
